*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    height: 100vh;
   background-color: #d161ff;
}
html{
    font-size: 16px;
}
.wrapper{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.container{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}
.button-options{
    background: #fff;
    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #d161ff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}

#restart{
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
}
.popup{
    background-color: #d161ff;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 12vmin;
}

#new-game{
font-size: 0.6em;
padding: 0.5em 1em;
background-color: black;
color: white;
border-radius: 0.2em;
border: none;
margin-left: 35%;
}

#message{
    color: rgb(196, 206, 45);
    text-align: center;
    font-size: 1em;
}
.popup {
    display: none;
    margin-top: 10%;
}